<div style="margin-top:15px" >
  <%= link_to user_path(current_user), class: "no-text-decoration" do %>
    <%= image_tag avatar_url(current_user), class: "post-author-icon" %> <%= current_user.name %>
  <% end %>
</div>
<div class="row">
  <div class="col-xs-6">
    <div id="videobox" style="margin-top:15px">
    </div>
  </div>
  <div class="col-xs-6" style="margin:15px">
    <% if current_user.id == @room.user_id %>
      <%= link_to "Stop", rooms_path(@room), method: :delete, data: {confirm: "Are you sure???"} %>
    <% else %>
      <%= link_to "Stop", root_path%>
    <% end %>
  </div>
</div>

<script src="https://static.opentok.com/v2/js/opentok.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    var apiKey =  "46236752";
    var sessionId = "<%= @room.session_id %>";
    var token = "<%= @tok_token %>";
    var session;
  
  
  TB.setLogLevel(TB.DEBUG);
  
    var session = TB.initSession(sessionId);
      session.addEventListener('sessionConnected', sessionConnectedHandler);
      session.addEventListener('streamCreated', streamCreatedHandler);
      session.connect(apiKey, token);
  var publisher;
      function sessionConnectedHandler(event) {
        publisher = TB.initPublisher(apiKey, 'videobox');
        session.publish(publisher);
        subscribeToStreams(event.streams);
      }
      function streamCreatedHandler(event) {
        subscribeToStreams(event.streams);
      }
      function subscribeToStreams(streams) {
        for (var i = 0; i < streams.length; i++) {
          if (streams[i].connection.connectionId == session.connection.connectionId) {
            return;
          }
          var div = document.createElement('div');
          div.setAttribute('class', 'col-xs-6');
          div.setAttribute('id', 'stream' + streams[i].streamId);
          document.body.appendChild(div);
          var options = {width: 700, height: 538};
          session.subscribe(streams[i], div.id, options);
        }
      }
</script>

<style type="text/css" media="screen">

  div.OT_subscriber{
    font-family: helvetica, arial, sans-serif;
    border: 1px solid rgba(87, 193, 228, .85);
    border-radius: 6px;
    margin-top: 15px;
    margin-left: 700px;
  }

</style>

